input.x-form-field.x-form-text[readonly="readonly"] {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.read-only input {
  background-color: #dadee3;
}

.x-boundlist-item {
  cursor: default;
}

.row-error {
  background: #FFCDCD;
  color: #FF0000;
}